<div class="center">
  <div class="property-card">
    <a href="#">
      <div class="property-image">
        <img class="property-image-title" [src]="item.image" />
        <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
      </div></a
    >
    <div class="property-description">
      <h5>
        {{ item.name }}
      </h5>
      <p>
        Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo.
        Lorem Ipum doth be hard.
      </p>
    </div>
  </div>
</div>
