.container {
  .title {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
